.palette_switch_wrapper
  margin: 8px 0 5px;
  .palette_text
    position: relative
    left: 0px;
  .palette_switch
    position: relative
    left: 18px
    bottom: 2px
  .palette_switch_background
    background-color: #9E9E9E