.layer_item
  display: flex
  height: 40px
  background: rgba(255, 255, 255, 0.2)
  user-select: none
  cursor: pointer
  border-top: 1px solid rgba(0, 0, 0, 0.5)
  border-bottom: 1px solid rgba(0, 0, 0, 0.5)
  .layer_check
    margin: 10px 0 0 15px
  .layer_img_container
    display: flex
    justify-content: center
    width: 100px
    img
      transform: scale(0.7, 0.7)
  .icon-menu
    margin-top: 10px
    color: #fff
    font-size: 25px
.layer_item:hover,.layer_highlight
   background: rgba(30, 175, 197, 0.4) !important
   border: 1px solid #00c1de !important