.layer_item
  display: flex
  height: 40px
  background: rgba(255, 255, 255, 0.2)
  user-select: none
  cursor: pointer
  .layer_check
    margin: 10px 0 0 15px
  .layer_img_container
    width: 100px
    display: flex
    justify-content: center
    img
      transform: scale(0.8, 0.7)
  .icon-menu
    color: #fff
    font-size: 25px
    margin-top: 10px