.setting-item
  margin: 12px 8px 0px 8px
  padding-bottom: 15px
  color: #fff
  border-bottom: 1px solid rgba(255,255,255,0.4)
  .setting-item-container
    float: right
    width: 180px
    min-width: 180px
  .setting-item-name
    float: left
    width: 60px
    min-width: 60px
    margin: 0px 0 0 5px
    font-weight: 100
.setting-item:before,.setting-item:after 
  content: "";
  display: block
  height: 0
  visibility: hidden
  clear: both