.setting-item
  display: flex
  margin: 15px 0px 0 25px
  padding: 0 0 10px 0
  color: #fff
  border-bottom: 1px solid rgba(255,255,255,0.4)
  .setting-item-name
    display: flex
    width: 80px
    height: 30px
    padding-left: 2px;
    align-items: safe center;
  .setting-item-container
    margin-left: 10px;
    min-height: 30px;