.color_input_wrapper
  display: flex
  box-sizing: border-box
  justify-content: center
  align-items: center
  height: 28px
  background: #fff
  .color_preview_wrapper
    position: relative
    width: 30px
    height: 100%
    border: 1px solid #dedede
    cursor: pointer
    .color_preview
      display: block
      position: absolute
      top: 5px
      left: 5px
      height 16px
      width: 16px
    .color_colorpicker
      position: absolute
      top: 27px
      right: 0px
  .color_input
    height: 14px
    width: 50px
    margin-left: 5px
    font-size: 10px
    color: #000
    outline: none
    border: none