.color_input_wrapper
  box-sizing: border-box
  height: 28px
  width: 85px
  background: #fff
  .color_colorpicker
    position: absolute
    z-index: 1
  .color_preview_wrapper
    position: relative
    float: left
    width: 30px
    height: 100%
    border: 1px solid #dedede
    cursor: pointer
    .color_preview
      display: block
      position: absolute
      top: 5px
      left: 5px
      height 16px
      width: 16px
  .color_input
    height: 14px
    width: 50px
    margin-left: 5px
    font-size: 10px
    color: #000
    outline: none
    border: none