.preview-container
  height: 30px
  margin-bottom: 10px
  cursor: pointer
  transition: all 0.2s
  img
    width: 30px
    height: 30px
  span
    margin-left: 15px
    font-size: 15px
    color: #fff
    user-select: none

.preview-container:last-child
  margin-bottom: 0px