.chart-container-mask::after
  content: ''
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  background: rgba(0,193,222,0.3)
.chart_loading
  position: absolute
  top: 140px
  left: 140px
  color: #fff