.banner
  position: relative
  background: #fff
  height: 50px
  .banner_head
    position: relative
    font-size: 25px
    top: 5px
    left: 20px
    color: #000
  .banner_right
    position: absolute
    right: 24px
    top: 0
    height: 100%
    .banner_item
      float right 
      transition: all 0.3s
      height: 100%
      width: 50px
      text-align: center
      padding: 3px 0
      cursor: pointer
      .banner_icon
        margin: 0
        font-size: 16px

.banner_item:hover
  background: rgba(0, 0, 0, 0.4)
  color: #fff !important