.transform_tool
  position: absolute
  z-index: 10000 !important
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5)
  border: 1px solid rgb(0, 193, 222)
  overflow: hidden
  cursor move
  >div
    position: absolute
  .left-top
    top: 0
    left: 0
    width: 20%
    height 20%
    cursor nwse-resize
  .top
    top: 0
    left: 20%
    width: 60%
    height 20%
    cursor: ns-resize
  .right-top
    top: 0
    left: 80%
    width: 20%
    height 20%
    cursor: nesw-resize
  .right
    top: 20%
    right: 0
    width: 20%
    height 60%
    cursor: ew-resize
  .right-bottom
    top: 80%
    right: 0
    width: 20%
    height 20%
    cursor: nwse-resize
  .bottom
    top: 80%
    right: 20%
    width: 60%
    height 20%
    cursor: ns-resize
  .left-bottom
    top: 80%
    right: 80%
    width: 20%
    height 20%
    cursor: nesw-resize
  .left
    top: 20%
    right: 80%
    width: 20%
    height 60%
    cursor: ew-resize
  .icon
    color:#00c1de
  .icon-resize
    position: absolute
    z-index: -1
    bottom: 0
    right: 0
    font-size: 30px
  .tools
    position: absolute;
    padding: 5px 2px 0 3px;
    background: rgba(0,193,222,0.3)
    .icon-copy
      z-index: 10
      font-size: 20px
      cursor pointer
    .icon-trashcan
      z-index: 10
      font-size: 20px
      cursor pointer
      margin-left: 3px
.transform_tool:hover
  background: rgba(0, 193, 222,0.2)