.title_control_wrapper
  .title_input
    padding: 5px
    outline: none
    border: none
    height: 20px
    width: 130px
    color: #000
  .ant-input-number
    margin-right: 10px
    width: 60px
  .ant-select
    width: 85px
    bottom: 1px