.number-container
  display: flex
  text-align: center
  .number
    margin-right 20px
  .name
    font-size: 13px
    margin-top: 1px
  :last-child
    margin-right: 0
  .ant-input-number
    width: 80px !important