.component_collapse
  height: calc(100vh - 105px)
  overflow-x: hidden
  overflow-y: scroll
  .component_panel_li
    margin: 0 0 15px 0
  :last-child
    margin: 0
.split
  display: flex
  justify-content: space-around
  height: 30px
  width: 100%
  background: #212121