.scale-scroller-containr
  display: flex
  justify-content: space-around
  .scroll
    position: relative
    bottom: 3px
    flex-basis: 75%
    align-items: center
  .scroll-icon
    position: relative;
    top: 9px;
    font-size: 15px
    color: #fff
    cursor: pointer