@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fh8449');
  src:  url('fonts/icomoon.eot?fh8449#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fh8449') format('truetype'),
    url('fonts/icomoon.woff?fh8449') format('woff'),
    url('fonts/icomoon.svg?fh8449#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bottom:before {
  content: "\e900";
}
.icon-copy:before {
  content: "\e901";
}
.icon-down:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e903";
}
.icon-preview:before {
  content: "\e904";
}
.icon-publish:before {
  content: "\e905";
}
.icon-resize:before {
  content: "\e906";
}
.icon-top:before {
  content: "\e907";
}
.icon-trashcan:before {
  content: "\e908";
}
.icon-up:before {
  content: "\e909";
}
